@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: linear-gradient(
    91.55deg,
    hsl(243, 70%, 56%) 0.76%,
    hsl(264, 64%, 55%) 98.12%
  );
  box-shadow: inset 0 0 10px hsl(0, 0%, 0%);
}

// NAVIGATION

.nav {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translate(-50%);

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    width: 150px;
  }

  &__item-btn {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    width: 140px;
    height: 40px;
    border: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(232, 59%, 20%);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px hsl(0, 0%, 0%);
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: hsl(169, 60%, 60%);
      top: 0;
    }
  }
}

// MODAL POPUP SECTION

.modal-popup {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  animation: modal-fade-in 0.5s ease-in-out;

  @keyframes modal-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &__container {
    position: relative;
    width: 320px;
    height: 190px;
    padding: 30px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 5px;
  }

  &__close-icon-wrapper {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  &__close-icon {
    transform: scale(0.8);
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(0.9);
    }
  }

  &__main-content-container {
    text-align: center;
  }

  &__warning-icon-wrapper {
    margin: 10px;
  }

  &__warning-icon {
    transform: scale(1.7);
  }

  &__main-text {
    margin: 35px 10px;
    font-size: 1.1rem;
  }

  &__btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__btn {
    width: 140px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px hsl(0, 0%, 75%);
    color: hsl(0, 0%, 50%);
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: hsl(0, 0%, 75%);
      color: hsl(0, 0%, 100%);
    }

    &_accent-color {
      background-color: hsl(0, 100%, 50%);
      color: hsl(0, 0%, 100%);

      &:hover {
        background-color: hsl(0, 0%, 100%);
        color: hsl(0, 100%, 50%);
        border: solid 1px hsl(0, 100%, 50%);
      }
    }
  }
}

// BOOK SEARCH SECTION

.book-search {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  &__container {
    text-align: center;
  }

  &__input {
    width: 340px;
    height: 40px;
    border: none;
    border-radius: 30px;
    outline-style: none;
    padding: 15px;
    margin: 50px 0 20px 0;
    color: hsl(232, 59%, 20%);
    font-weight: bold;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px hsl(232, 59%, 20%);
    }

    &:focus {
      box-shadow: 0 0 20px hsl(232, 59%, 20%);
    }
  }

  &__result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    position: relative;
    height: 300px;
    width: 200px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background: linear-gradient(
      45deg,
      hsl(243, 70%, 56%) 0.76%,
      hsl(264, 64%, 55%) 98.12%
    );

    &:hover {
      box-shadow: 0 0 10px hsl(0, 0%, 0%);
    }

    &:hover img {
      transition: all 0.3s ease-in-out;
      transform: scale(1.3);
    }

    &:hover .book-search__item-cover {
      transition: all 0.3s ease-in-out;
      visibility: visible;
      background-color: hsla(0, 0%, 0%, 0.5);
      cursor: pointer;
    }
  }

  &__item-cover {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: bold;

    &:hover p {
      animation: item-text-rotate 0.3s ease-out;

      @keyframes item-text-rotate {
        0% {
          transform: rotate(0);
        }
        100% {
          transform: rotate(720deg);
        }
      }
    }

    & p {
      padding: 10px;
    }
  }
}

// ARROW

.arrow-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);

  svg {
    width: 200px;
    height: auto;
    margin: 0 2rem;
    overflow: visible;
    fill: hsl(0, 0%, 100%);

    polygon,
    path {
      transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
      fill: hsl(0, 0%, 100%);
    }

    .arrow {
      animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
    }
    .arrow-fixed {
      animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
    }
  }
}

@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
